*{
    margin: 0;
}



.carousel{

    &__wrapper{
        position: relative;
    }

    &__singleWrapper{
        margin: 100px auto;
        background-color: rgb(37, 37, 37);
        height: 200px;
        width: 300px;
        display: flex;
        //overflow: hidden;
    }


    &__single{
        height: 100%;
        width: 100px;
        flex-shrink: 0;
        transition: 0.3s all;
        
       &--1{
           background-color: rgb(197, 24, 24);
       }
       &--2{
           background-color: rgb(24, 93, 197);
       }
       &--3{
           background-color: rgb(30, 197, 24);
       }
       &--4{
           background-color: rgb(219, 206, 24);
       }
       &--5{
           background-color: rgb(125, 24, 219);
       }
    }

    &__btnNavigation{
        position: absolute;
        top: 50%;
        cursor: pointer;

        &--prev{
            left: 100px;
        }
        &--next{
            right: 100px;
        }
    }

}